#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.image-col {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.rec-image {
  max-width: 17em;
}

.rec-info {
  align-items: center;
}

.row {
  padding-top: 1.5em;
}

.expand {
  background-color: #424242 !important;
  color: white !important;
}

.card {
  padding: 2em;
}

.accContain {
  margin-top: 1em;
}

.read-the-docs {
  color: #888;
}
